.calendar_wrapper {
  color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
.buttons_wrapper {

  margin:  auto;
  padding-top:30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
